.container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1334px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.is-hidden {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
  white-space: no-wrap !important;
  overflow: hidden !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.show-event-popup {
  body {
    overflow: hidden;
  }

  #eventPP {
    display: flex;
  }
}

.box {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 24px;
  padding-top: 2px;
  padding-left: 24px;
}

.box-mark {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
}