// Цветовая палитра
@white: #FFFFFF;

@black: #1F1F1F;
@black_40: fade(@black, 0.4);

@red: #BC3324;
@red_dark: #A51505;

@gray: #DEDEDEFA;
@gray_dark: #DEDEDE80;

@coral: #FF7F50;

// Шрифты
@font1: "Open Sans", "sans-serif";
@font2: "Lora", "sans-serif";
@font3: "mak", "sans-serif";