// Цветовая палитра
@white: #FFFFFF;
@white_gradient: rgba(@white, 0.0);

@black: #1F1F1F;
@black_40: fade(@black, 0.4);
@black_gradient: #1C1B1B;

@red: #BC3324;
@red_dark: #A51505;

@gray: #DEDEDEFA;
@gray_dark: #DEDEDE80;
@gray_placeholder: #6C6C6C;

// Шрифты
@font1: "Open Sans", "sans-serif";
@font2: "Lora", "sans-serif";
@font3: "mak", "sans-serif";