// Цветовая палитра
@white: #FFFFFF;
@white_gradient: rgba(@white, 0.0);

@black: #1F1F1F;
@black_40: fade(@black, 0.4);
@black_gradient: #1C1B1B;

@red_BC: #BC3324;
@red_A5: #A51505;

@gray: #DEDEDEFA;
@gray_80: #DEDEDE80;
@gray_6C: #6C6C6C;
@gray_BF: #BFBFBF;

// Шрифты
@font1: "Open Sans", "sans-serif";
@font2: "Lora", "sans-serif";
@font3: "mak", "sans-serif";