.event {
  padding: 100px 40px 150px;

  &__title {
    font-family: @font2;
    font-weight: 500;
    font-size: 70px;
    line-height: 90px;
    margin-left: 29.946%;
  }

  &__main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 943px;
    margin: 80px 0 80px 27.391%;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    gap: 11px;

    &::before, 
    &::after,
    &--left::before,
    &--left::after {
      .gradient-decoration();
      
      content: "";
    }

    &::before,
    &::after {
      width: 89.8876%;
    }

    &--left {
      text-align: right;

      &::before,
      &::after {
        width: 92.667%;
        margin-left: 10px;
        mix-blend-mode: difference; 
      }
    }
  }

  &__label {
    font-family: @font3;
    text-transform: uppercase;

    &--f30 {
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
    }

    &--f16 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__picture {
    position: relative;
    margin: 0 38px;
  }

  &__img {
    width: 497px;
    min-width: 245px;
    height: auto;
    object-fit: contain;
  }

  &__time {
    display: flex;
    align-items: flex-end;
    gap: 12px;
  }

  &__program {
    margin-bottom: 75px;
  }

  &__tracklist {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}