.event {
  padding: 38px 40px 90px;

  &__title {
    padding-left: 22px;
  }

  &__main-info {
    display: flex;
    justify-content: space-between;
    max-width: 943px;
    margin: 80px auto 0;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin: 223px 0 217px 0;

    .decoration {
      max-width: 160px;
    }

    &--left {
      align-items: flex-end;

      .decoration {
        max-width: 139px;
      }
    }
  }

  &__decoration {
    height: 1px;
  }

  &__label {
    font-family: @font3;
    line-height: 1.2;
    text-transform: uppercase;

    &--f30 {
      font-weight: 300;
      font-size: 30px;
    }

    &--f16 {
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__picture {
    .picture(@w: 52.704%; @after-pt: 107.042%);
  }

  &__img {
    .img();
  }

  &__time {
    display: flex;
    align-items: flex-end;
    gap: 12px;

    :last-child {
      margin-bottom: 4px;
    }
  }

  &__container {
    .container();
  }

  &__content {
    margin: 80px 0;
  }
}