.event {
  padding: 100px 40px 150px;

  &__title {
    font-family: @font2;
    font-weight: 500;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
  }

  &__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 943px;
    margin: 80px auto;
    background-color: aqua;
  }

  &__info-left, 
  &__info-right {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  &__info-left {
    text-align: right;
  }

  &__label {
    font-family: @font3;
    text-transform: uppercase;

    &--f30 {
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
    }

    &--f16 {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__picture {
    margin: 0 60px 0 58px;
  }

  &__img {
    width: 497px;
    height: auto;
    min-width: 254px;
    object-fit: contain;
  }

  &__time {
    display: flex;
    align-items: flex-end;
    gap: 12px;
  }

  &__program {
    margin-top: 80px;
    margin-bottom: 75px;
  }

  &__description {
    max-width: 868px;
    margin-bottom: 50px;
  }

  &__tracklist {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}