.events {
  padding-bottom: 90px;

  &__listing {
    margin-top: 138px;
  }

  &__arrow-link {
    align-self: center;
    max-width: 128px;
    margin: 70px auto 0;
  }

  &__additional-services {
    padding-top: 100px;
  }

  &__rates-table {
    max-width: 1334px;
    margin: 60px auto 50px;
  }

  &__info {
    margin-top: 100px;
  }
}