.field {
  display: flex;
  flex-direction: column;

  &__input,
  &__input--date,
  &__textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: @white;
    font-size: 16px;
    line-height: 1.375;
  }

  &__input {
    height: 55px;
    padding: 0 20px;

    &--date {
      width: 55px;
      margin-right: 15px;
      padding-top: 17px;
      padding-bottom: 16px;
      text-align: center;

      &:last-child {
        min-width: 99px;
        max-width: 110px;
      }
    }
  }

  &__textarea {
    height: 150px;
    padding: 20px;
  }

  &__title {
    display: block;
    margin: 0 0 10px;
    color: @black;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.3;
    color: @black;
  }

  &__date {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    border: none;
    border-right: 20px solid transparent;
    border-radius: 5px;
    background-color: @white;
    font-size: 16px;
    line-height: 1.375;
  }
}