.form {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 60px;
    width: 100%;

    &--mb50 {
      margin-bottom: 50px;
    }
  }

  &__group {
    width: calc(50% - 30px);
  }

  &__field {
    display: block;
    width: 100%;

    &--w50 {
      width: calc(50% - 30px);
    }

    &--mb30 {
      margin-bottom: 30px;
    }
  }

  &__check {
    &--mb40 {
      margin-bottom: 40px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 200px;
  }

  &__submit-btn,
  &__close-btn {
    color: @black;
    font-family: @font1;
    font-weight: 600;
    font-size: 16px;
  }

  &__submit-btn {
    width: 100%;
    max-width: 400px;
    padding: 15px 156px;
  }

  &__close-btn {
    border: none;
    outline: none;
    padding: 1px 4px;
    text-decoration: underline;

    &:hover {
      @media(hover: hover) {
        background-color: initial;
        color: @red_A5;
      }
    }
  }
}