.home {
  margin-bottom: 40px;

  &__offers {
    margin-bottom: 200px;

    @media @bw1340 {
      margin-bottom: 130px;
    }

    @media @bw650 {
      margin-bottom: 100px;
    }
  }

  &__about {
    margin-bottom: 90px;
  }

  &__upcoming {
    margin-bottom: 64px;

    @media @bw1660 {
      margin-bottom: 71px;
    }

    @media @bw1340{
      margin-bottom: 35px;
    }

    @media @bw768 {
      margin-bottom: 41px;
    }
  }

  &__blog-listing {
    margin-bottom: 78px;
  }

  &__contacts {
    margin-bottom: 150px;
  }
}