.home {
  &__offers {
    margin-bottom: 200px;
  }

  &__about {
    margin-bottom: 90px;
  }

  &__events-listing {
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    padding: 120px 0 84px;
    width: 100%;
    margin-bottom: 64px;
    background-image: url("../assets/images/home-events.png");
    background-size: auto;
    background-repeat: repeat;

    & .events__listing {
      margin-top: 0;
    }
  }

  &__blog-listing {
    margin-bottom: 78px;
  }

  &__contacts {
    margin-bottom: 150px;
  }

  &__quote {
    width: 112.552%;
    margin: 0 -189px 0 -52px;
  }
}