.home {
  &__offers {
    margin-bottom: 200px;
  }

  &__about {
    margin-bottom: 90px;
  }

  &__events-listing {
    width: 100%;
    margin-bottom: 64px;
    padding: 120px 0 84px;
    background-color: @white;

    @supports(background-size: clamp(320px, 100%, 1920px) 100%)
    {
      background-color: transparent;
      background-image: url("../assets/images/home-events.png");
      background-size: clamp(320px, 100%, 1920px) 100%;
      background-repeat: no-repeat;
    }

    & .events__listing {
      margin-top: 0;
    }
  }

  &__blog-listing {
    margin-bottom: 78px;
  }

  &__contacts {
    margin-bottom: 150px;
  }

  &__quote {
    width: 112.552%;
    margin: 0 -189px 0 -52px;
  }
}