.info {
  &__container {
    .container();
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 67px;
    margin-right: 30px;

    &--vertical {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      margin-right: 0;
    }

    &--vertical .info-item {
      flex-direction: column;
      gap: 40px;
      width: 100%;
      max-width: 401px;
      text-align: center;

      &__data {
        margin-bottom: 0;
      }
    }
  }

  &__img {
    display: block;
  }
}