.info {
  &__container {
    .container();
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 67px;
    width: 100%;
    max-width: 400px;

    &--vertical {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      max-width: 100%;
      margin-right: 0;

      .info-item {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 401px;
        text-align: center;

        &__data {
          margin-bottom: 0;
        }
      }
    }
  }

  &__map {
    margin-left: 30px;
  }
}