.info-map {
  display: block;
  width: 752px;

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__marker {
    width: 9px;
    height: 9px;
    max-width: initial;
  }

  &__marker-icon {
    padding: 0 0 14px 3px;
  }
}