.listing {
  .container();

  display: flex;
  flex-direction: column;

  &__events-list {
    display: flex;
    overflow: hidden;
    margin: 0 -30px -120px;

    &--wrap {
      flex-wrap: wrap;

      .listing__event-card {
        width: calc(33.333% - 60px);
        min-width: 280px;
      }
    }
  }

  &__event-card {
    min-width: max(280px, 29.053%);
    margin: 0 2.152% 7.5em;
  }

  &__article-list {
    margin-bottom: 70px;
  }

  &__slider {
    align-self: center;
    margin-top: 70px;
  }

  &__link {
    align-self: flex-end;
    padding: 15px 0 15px 40px;
  }
}