.main-header {
  padding: 100px 0;

  &__title,
  &__text {
    padding-left: 40px;
    padding-right: 40px;
    color: @black;
    font-family: @font2;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.28;
    text-align: center;
    text-transform: uppercase;
  }

  &__picture {
    .picture(@after-pt: 16.927%);

    margin: 70px 0;
  }

  &__img {
    .img();
  }

  &__text {
    margin: 0 auto;
    max-width: 990px;
  }
}