.page-footer {
  box-sizing: border-box;
  padding: 0 60px 75px;

  &__container {
    .container();
  }

  &__border {
    display: flex;
    justify-content: space-between;
    gap: 7.346%;
    margin-bottom: 60px;
  }

  &__decoration {
    height: 2px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__left-block {
    width: 100%;
    max-width: 384px;
    margin-right: 30px;
  }

  &__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-bottom: 100px;
    padding-left: 26px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: @red_BC;
    }
  }

  &__nav-link,
  &__confidentiality,
  &__cookies, 
  &__creator-label {
    font-weight: 600;
  }

  &__nav-link,
  &__confidentiality,
  &__cookies {
    display: block;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      @media (hover :hover) {
        color: @red_A5;
      }
    }

    &:active {
      color: @red_A5;
    }
  }

  &__politics {
    display: flex;
    gap: 15.625%;
    margin-top: 20px;
  }

  &__center-block {
    position: absolute;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    left: calc(50% - 80px);
    width: 160px;
  }

  &__sn-icon, 
  &__creator-img {
    vertical-align: bottom;
  }

  &__right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 410px;
  }

  &__creator {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
}