.pp {
  position: fixed;
  box-sizing: border-box;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 90px 50px 50px;
  background-color: @gray;
  backdrop-filter: blur(25px);
  overflow-y: auto;
  z-index: 110;

  @supports(backdrop-filter: blur(25px)) {
    background-color: @black_40;
    backdrop-filter: blur(25px);
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1210px;
    margin: 0 auto auto;
    background-color: @gray;
    background-image: url("../assets/images/noise.png");
    background-position: 0, 0;
    background-size: auto;
    background-repeat: repeat;
  }

  &__sticky-close {
    position: sticky;
    align-self: flex-end;
    top: 0;
    width: 0;
    height: 0;
  }

  &__x-btn {
    position: absolute;
    top: -30px;
    right: -30px;
  }

  &__container {
    box-sizing: border-box;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 40px 40px;
  }

  &__title {
    box-sizing: border-box;
    margin: -40px 0 70px -85px;
    padding: 10px 85px;
    max-width: 595px;
    min-height: 80px;
    background-color: @black;
    color: @white;
    font-family: @font2;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.364;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    z-index: 1;
  }

  &__form {
    max-width: 870px;
    margin: auto;
  }
}