.reserve {
  display: grid;
  gap: 67px 11%;
  grid-template-columns: 405px calc(89% - 405px);
  grid-template-areas: 
    "checks scheme"
    "order legend";
  width: 100%;

  &__section-title {
    font-weight: 700;
    font-size: 18px;
    color: @black;
  }

  &__checks {
    grid-area: checks;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__check {
    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__scheme {
    grid-area: scheme;
  }

  &__scheme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__scheme-title {
    display: inline-block;
    padding: 6px 60px;
    font-weight: 600;
    background-color: @black;
    color: @white;
  }

  &__scheme-wrapper {
    position: relative;
    width: 100%;

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 51.15384%;
    }
  }

  &__scene {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  &__order {
    grid-area: order;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__tickets-list {
    margin-top: 20px;
    margin-bottom: 25px;
    width: 100%;
  }

  &__tickets {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__qty {
    &::after {
      content: " " attr(data-caption) " | " attr(data-price);
    }
  }

  &__sum {
    font-weight: 600;
    font-size: 18px;
  }

  &__total {
    align-self: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 20px;

    &::before {
      content: attr(data-caption);
      margin-right: 30px;
    }
  }

  &__submit {
    width: 100%;
  }
  
  &__legend {
    grid-area: legend;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__prices-list {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__prices {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__price-mark {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background-color: @black;
    
    &--red {
      background-color: @red_BC;
    }
  }

  &__price {
    position: relative;
    font-size: 14px;

    &::before {
      content: " " attr(data-currency);
      position: absolute;
      top: 0;
      left: 35px;
      font-size: 0.95em;
    }

    &::after {
      content: " | " attr(data-caption);
      margin-left: 10px;
    }
  }

  &__notes-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 20px;
  }

  &__mark-container {
    position: relative;
    display: flex;
    width: 36px;
    height: 24px;
    margin-right: 20px;
  }

  &__note-mark {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 66.667%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid @black;

    &--red {
      left: 33.333%;
      border: 1px solid @red_A5;
    }

    &--filled {
      left: 33.333%;
      border: none;
      background-color: #BFBFBF;
    }
  }

  &__note {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__designation {
    font-size: 14px;
    text-transform: lowercase;
  }

  & > div {
    box-sizing: border-box;
    text-align: center;
  }
}